body{
    
    text-align: center;
    color: blue;
    background: url("../img/images.jpg");
    background-size: 500px;
}

main img{
    width: 100%;
    height: auto;
    max-width: 400px;
   padding-bottom: 2em;
}



.vid video {
    width: 100%;
    height: auto;
    max-width: 500px;
    padding-right: 2em;
}

